<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ownApp</title>
    <th:block th:replace="~{includes/commonScripts :: head}"></th:block>


</head>

<body>
<h1 >
    Zalogowany jako: <span th:text="${@userContextService.getLoggedUsername()}"></span>
</h1>

<td>
    <span th:if="${@userContextService.getLoggedUsername() != null}"><a th:href="@{/eventForm}">Sent Form</a></span>

</td>
<a th:href="@{/register}">Register</a>
<a th:href="@{/login}">Sign in</a>

<th:block th:replace="~{includes/commonScripts :: end-of-body}"></th:block>
</body>
</html>